@tailwind base;
@tailwind components;
@tailwind utilities;





/* Стили для кнопок фильтрации */
.filter-button {
    border: 1px solid black;
    background-color: transparent;
    color: black;
    transition: all 0.3s ease;
}

.filter-button:hover {
    background-color: black;
    color: white;
}

.filter-button.active {
    background-color: black;
    color: white;
}


/* Стили для кнопок */
#scroll-to-top {
    display: none; /* Изначально скрыта */
}



/* Общие стили для всех кнопок */
.fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 50;
}

/* Стили для дополнительных кнопок "WhatsApp" и "Telegram" */
#social-buttons {
    display: none; /* Изначально скрыты */
}
.hidden {
    display: none !important;
}



#social-buttons {
    position: absolute;
    bottom: 70px; /* Расположение над кнопкой "Связь" */
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Отступ между кнопками */
}

/* Убедитесь, что кнопки видны при удалении класса hidden */
#social-buttons:not(.hidden) {
    display: flex !important;
}



.overflow-x-auto {
    scrollbar-width: thin; /* Уменьшает ширину полосы прокрутки */
    scrollbar-color: #888 transparent; /* Цвет полосы прокрутки */
}

.overflow-x-auto::-webkit-scrollbar {
    height: 8px; /* Высота полосы прокрутки */
}

.overflow-x-auto::-webkit-scrollbar-thumb {
    background-color: #888; /* Цвет бегунка */
    border-radius: 4px; /* Закругление углов */
}






/* Стили для кнопок калькулятора */
.calculator-option {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.calculator-option:hover {
    background-color: black;
    color: white;
}

.calculator-option.active {
    background-color: black;
    color: white;
}




/* Стили для контейнера с контентом */
#content-container > div {
    display: none;
}

#content-container > div:not(.hidden) {
    display: block;
}

/* Стили для контейнера с контентом */
#content1-container > div {
    display: none;
}

#content1-container > div:not(.hidden) {
    display: block;
}





ы




.fade-in {
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

